.hidden {
  display: none;
}
.container {
  text-align: center;
}
.jumbotron {
  text-align: center;
  border-radius: 10px  ;
   background-image: linear-gradient(red, lavender);
  /* background-color: pink; */
  color: white;
  text-shadow: 4px 4px 12px purple;
}
